section
	.flex.flex--center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni facilis, cupiditate quod. Sequi quo quia nobis aspernatur quis ipsam illum quasi praesentium quisquam voluptas exercitationem commodi mollitia, ipsum magni unde!